* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  max-width: 100vw;
  overflow: hidden; }

.landing_page_body {
  max-width: 100vw;
  overflow: hidden;
  text-align: center; }

#game-frame {
  border: none;
  position: relative; }

.hidden {
  visibility: hidden; }

.pre-menu-background {
  background-image: url(../assets/image/menu/pre_menu_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: auto;
  width: 800px; }

.pre-menu-ironhide-button {
  cursor: pointer;
  height: 150px;
  margin-left: 81px;
  position: absolute;
  margin-top: 225px;
  width: 133px; }

.pre-menu-armorgames-button {
  cursor: pointer;
  height: 150px;
  margin-left: 592px;
  position: absolute;
  margin-top: 220px;
  width: 147px; }

.pre-menu-playonmobile-button {
  height: 252px;
  margin-left: 250px;
  position: absolute;
  margin-top: 204px;
  width: 301px; }

.pre-menu-play-button {
  height: 65px;
  margin-left: 335px;
  position: absolute;
  margin-top: 463px;
  width: 130px; }
  .pre-menu-play-button:hover {
    background-image: url(../assets/image/menu/main_menu_play_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-preloader-background {
  animation: main-menu-preloader-background 0.6s forwards;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin: auto;
  position: relative;
  width: 800px;
  z-index: 10; }

@keyframes main-menu-preloader-background {
  0% {
    background-image: url(../assets/image/menu/pre_menu_background.png); }
  84% {
    background-image: url(../assets/image/menu/pre_menu_background.png); }
  85% {
    background-image: url(../assets/image/menu/main_menu_background.png); }
  100% {
    background-image: url(../assets/image/menu/main_menu_background.png); } }
.main-menu-from-credits-preloader-background {
  animation: main-menu-from-credits-preloader-background 0.6s forwards;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin: auto;
  position: relative;
  width: 800px;
  z-index: 1; }

@keyframes main-menu-from-credits-preloader-background {
  0% {
    background-image: url(../assets/image/menu/credits.png); }
  84% {
    background-image: url(../assets/image/menu/credits.png); }
  85% {
    background-image: url(../assets/image/menu/main_menu_background.png); }
  100% {
    background-image: url(../assets/image/menu/main_menu_background.png); } }
.main-menu-container {
  height: 600px;
  margin: auto;
  overflow: hidden;
  width: 800px; }

.main-menu-background {
  background-image: url(../assets/image/menu/main_menu_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: auto;
  width: 800px; }

.main-menu-start-button {
  height: 89px;
  margin-left: 298px;
  position: absolute;
  margin-top: 382px;
  width: 195px; }
  .main-menu-start-button:hover {
    background-image: url(../assets/image/menu/main_menu_start_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-credits-button {
  height: 65px;
  margin-left: 315px;
  position: absolute;
  margin-top: 487px;
  width: 164px; }
  .main-menu-credits-button:hover {
    background-image: url(../assets/image/menu/main_menu_credits_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-playonmobile-button {
  height: 156px;
  margin-left: 598px;
  position: absolute;
  margin-top: 4px;
  width: 192px; }
  .main-menu-playonmobile-button:hover {
    background-image: url(../assets/image/menu/main_menu_playonmobile_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-twitter-button {
  height: 44px;
  margin-left: 8px;
  position: absolute;
  margin-top: 89px;
  width: 45px; }
  .main-menu-twitter-button:hover {
    background-image: url(../assets/image/menu/main_menu_twitter_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-facebook-button {
  height: 46px;
  margin-left: 8px;
  position: absolute;
  margin-top: 43px;
  width: 46px; }
  .main-menu-facebook-button:hover {
    background-image: url(../assets/image/menu/main_menu_facebook_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-music-button {
  cursor: pointer;
  height: 29px;
  margin-left: 44px;
  position: absolute;
  margin-top: 8px;
  width: 28px;
  z-index: 1; }
  .main-menu-music-button:hover {
    background-image: url(../assets/image/menu/main_menu_music_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-sound-button {
  cursor: pointer;
  height: 29px;
  margin-left: 8px;
  position: absolute;
  margin-top: 8px;
  width: 31px;
  z-index: 1; }
  .main-menu-sound-button:hover {
    background-image: url(../assets/image/menu/main_menu_sound_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-music-button-disabled {
  background-image: url(../assets/image/menu/main_menu_disabled_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 12px;
  margin-left: 17px;
  margin-top: 13px;
  width: 13px;
  z-index: 1; }

.main-menu-sound-button-disabled {
  background-image: url(../assets/image/menu/main_menu_disabled_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 12px;
  margin-left: 17px;
  margin-top: 13px;
  width: 13px;
  z-index: 1; }

.main-menu-ironhide-button {
  cursor: pointer;
  height: 85px;
  margin-left: 41px;
  position: absolute;
  margin-top: 481px;
  width: 125px; }

.main-menu-armorgames-button {
  cursor: pointer;
  height: 95px;
  margin-left: 631px;
  position: absolute;
  margin-top: 479px;
  width: 120px; }

.credits-preloader-background {
  animation: credits-preloader-background 0.6s forwards;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin: auto;
  width: 800px; }

@keyframes credits-preloader-background {
  0% {
    background-image: url(../assets/image/menu/main_menu_background.png); }
  84% {
    background-image: url(../assets/image/menu/main_menu_background.png); }
  85% {
    background-image: url(../assets/image/menu/credits.png); }
  100% {
    background-image: url(../assets/image/menu/credits.png); } }
.credits-preloader-leftside {
  animation: credits-preloader-leftside 1s forwards;
  background-image: url(../assets/image/menu/preloader-left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin-left: -400px;
  width: 400px;
  z-index: 10; }

@keyframes credits-preloader-leftside {
  0% {
    margin-left: -400px; }
  30% {
    margin-left: 0; }
  35% {
    margin-left: -10px; }
  40% {
    margin-left: 0; }
  45% {
    margin-left: -5px; }
  50% {
    margin-left: 0; }
  70% {
    margin-left: 0; }
  100% {
    margin-left: -400px; } }
.credits-preloader-rightside {
  animation: credits-preloader-rightside 1s forwards;
  background-image: url(../assets/image/menu/preloader-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin-left: 796px;
  top: 0;
  width: 400px;
  z-index: 10; }

@keyframes credits-preloader-rightside {
  0% {
    margin-left: 796px; }
  30% {
    margin-left: -4px; }
  35% {
    margin-left: 16px; }
  40% {
    margin-left: -4px; }
  45% {
    margin-left: 6px; }
  50% {
    margin-left: -4px; }
  70% {
    margin-left: -4px; }
  100% {
    margin-left: 796px; } }
.credits-main-container {
  height: 600px;
  margin: auto;
  overflow: hidden;
  width: 800px; }

.credits-preloader-container {
  animation: credits-preloader-container 1s forwards;
  margin-top: -604px;
  position: relative;
  width: 1700px; }

@keyframes credits-preloader-container {
  0% {
    z-index: 10; }
  99% {
    z-index: 10; }
  100% {
    z-index: -1; } }
.credits-back-button {
  cursor: pointer;
  height: 123px;
  margin-left: 5px;
  position: absolute;
  margin-top: 477px;
  width: 135px; }
  .credits-back-button:hover {
    background-image: url(../assets/image/menu/credits_back_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-from-credits-background {
  animation: main-menu-from-credits-preloader-background 0.6s forwards;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: auto;
  width: 800px; }

@keyframes main-menu-from-credits-preloader-background {
  0% {
    background-image: url(../assets/image/menu/credits.png); }
  84% {
    background-image: url(../assets/image/menu/credits.png); }
  85% {
    background-image: url(../assets/image/menu/main_menu_background.png); }
  100% {
    background-image: url(../assets/image/menu/main_menu_background.png); } }
.load-saved-background {
  background-image: url(../assets/image/menu/load_saved_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin: auto;
  position: relative;
  width: 800px; }

.load-saved-menu {
  animation: load-saved-menu 0.5s forwards;
  animation-timing-function: ease-in-out;
  background-image: url(../assets/image/menu/load_saved.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 287px;
  margin-left: 289px;
  position: absolute;
  margin-top: 306px;
  width: 223px; }

@keyframes load-saved-menu {
  0% {
    margin-top: 600px; }
  100% {
    margin-top: 306px; } }
.load-saved-menu-music-button-disabled {
  background-image: url(../assets/image/menu/main_menu_disabled_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 12px;
  margin-left: 17px;
  margin-top: 13px;
  width: 13px;
  z-index: 1; }

.load-saved-menu-sound-button-disabled {
  background-image: url(../assets/image/menu/main_menu_disabled_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 12px;
  margin-left: 17px;
  margin-top: 13px;
  width: 13px;
  z-index: 1; }

.load-saved-menu-close-button {
  cursor: pointer;
  height: 23px;
  margin-left: 30px;
  position: absolute;
  margin-top: 259px;
  width: 160px; }
  .load-saved-menu-close-button:hover {
    background-image: url(../assets/image/menu/load_saved_close_hover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.main-menu-from-loadsaved-preloader-background {
  background-image: url(../assets/image/menu/main_menu_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 600px;
  margin: auto;
  position: relative;
  width: 800px;
  z-index: 1; }

/*# sourceMappingURL=stylesheet.css.map */
