*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.menu-landing-background {
  background-image: url(../assets/image/menu/landing_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: auto;
  width: 800px;
}

.menu-play-button {
  height: 65px;
  margin-left: 335px;
  position: absolute;
  margin-top: 465px;
  width: 130px;
}

.menu-play-button:hover {
  background-image: url(../assets/image/menu/main_menu_play_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  margin-left: 335px;
  position: absolute;
  margin-top: 463px;
  width: 130px;
}

.main-menu-background {
  background-image: url(../assets/image/menu/main_menu_background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin: auto;
  width: 800px;
}

.main-menu-start-button {
  height: 89px;
  margin-left: 298px;
  position: absolute;
  margin-top: 382px;
  width: 195px;
}

.main-menu-start-button:hover {
  background-image: url(../assets/image/menu/main_menu_start_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 89px;
  margin-left: 298px;
  position: absolute;
  margin-top: 382px;
  width: 195px;
}

.main-menu-credits-button {
  height: 65px;
  margin-left: 315px;
  position: absolute;
  margin-top: 487px;
  width: 164px;
}

.main-menu-credits-button:hover {
  background-image: url(../assets/image/menu/main_menu_credits_hover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  margin-left: 315px;
  position: absolute;
  margin-top: 487px;
  width: 164px;
}
