.battle-map-footer {
  animation: battle-map-footer 0.2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  background-image: $battle-map-footer-bg;
  bottom: 0;
  height: 70px;
  position: absolute;
  transform: translateY(70px);
  width: 800px;
}

@keyframes battle-map-footer {
  0% { transform: translateY(70px); }
  100% { transform: translateY(0); }
}

.battle-map-info-panel {
  animation: battle-map-info-panel 0.2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  background-image: $battle-map-info-panel-bg;
  height: 55px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  transform: translateY(-65px);
  width: 156px;
}

@keyframes battle-map-info-panel {
  0% { transform: translateY(-65px); }
  100% { transform: translateY(0); }
}

.battle-map-pause-button {
  animation: battle-map-pause-button 0.2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  background-image: $battle-map-pause-bg;
  cursor: pointer;
  height: 32px;
  margin-left: 705px;
  margin-top: 10px;
  position: absolute;
  transform: translateY(-42px);
  width: 35px;
  &:hover {
  background-image: $battle-map-pause-hover-bg;
    height: 31px;
    margin-left: 704px;
    margin-top: 10px;
    width: 36px;
  }
}

@keyframes battle-map-pause-button {
  0% { transform: translateY(-42px); }
  100% { transform: translateY(0); }
}

.battle-map-options-button {
  animation: battle-map-options-button 0.2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  background-image: $battle-map-options-bg;
  cursor: pointer;
  height: 33px;
  margin-left: 750px;
  margin-top: 10px;
  position: absolute;
  transform: translateY(-44px);
  width: 35px;
  &:hover {
  background-image: $battle-map-options-hover-bg;
    height: 33px;
    margin-left: 749px;
    margin-top: 10px;
    width: 37px;
  }
}

@keyframes battle-map-options-button {
  0% { transform: translateY(-44px); }
  100% { transform: translateY(0); }
}

.battle-map-info-panel-health-text {
  color: rgb(220, 220, 200);
  font-size: 16px;
  line-height: 26px;
  margin-left: 45px;
  margin-top: 3px;
  position: absolute;
  width: 17px;
}

.battle-map-info-panel-gold-text {
  color: rgb(220, 220, 200);
  font-size: 16px;
  line-height: 26px;
  margin-left: 100px;
  margin-top: 3px;
  position: absolute;
  width: 24px;
}

.battle-map-info-panel-wave-text {
  color: rgb(220, 220, 200);
  font-size: 12px;
  line-height: 20px;
  margin-left: 58px;
  margin-top: 31px;
  position: absolute;
  text-transform: uppercase;
  width: 58px;
}

.battle-map-tower-build-place {
  cursor: pointer;
  height: 47px;
  position: absolute;
  width: 75px;
  &:hover {
    background-image: $battle-map-buildplace-hover-bg;
    height: 47px;
    width: 75px;
  }
}

.battle-map-startgame {
  cursor: pointer;
  height: 37px;
  width: 44px;
  margin-left: 737px;
  margin-top: 552px;
  position: absolute;
  z-index: 2;
  &:hover {
    background-image: $battle-map-start-button-hover-bg;
  }
}
