.game-menu-main-container {
  background-image: $game-menu-bg;
  height: 600px;
  margin: auto;
  width: 800px;
}

.game-menu-back-button {
  cursor: pointer;
  height: 55px;
  margin-left: 53px;
  position: absolute;
  margin-top: 520px;
  width: 58px;
  &:hover {
    background-image: $game-menu-menu-hover-bg;
  }
}

.game-menu-startable {
  animation: game-menu-startable 0.2s forwards;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  background-image: $game-menu-startable-bg;
  height: 79px;
  margin-left: 605px;
  margin-top: -79px;
  position: absolute;
  width: 136px;
}

@keyframes game-menu-startable {
  0% { transform: translateY(0); }
  100% { transform: translateY(79px); }
}
