.main-title {
  margin: 20px 0;
}

.preloader-fake-background {
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  // top: 0px;
  margin-top: -607px;
  width: 800px;
  z-index: -1;
}

.preloader-fake-background-premenu {
  background-image: $pre-menu-background-bg;
  background: no-repeat cover center;
}

.preloader-fake-background-mainmenu {
  background-image: $main-menu-preloader-background-bg;
  background: no-repeat cover center;
}

.preloader-fake-background-mainmenu-stripped {
  background-image: $main-menu-background-bg;
  background: no-repeat cover center;
}

.preloader-fake-background-creditsmenu {
  background-image: $credits-background-bg;
  background: no-repeat cover center;
}

.preloader-leftside {
  animation: preloader-leftside 1s forwards;
  background-image: $preloader-left-bg;
  background: no-repeat cover center;
  display: inline-block;
  height: 600px;
  transform: translateX(-668px);
  width: 400px;
  z-index: 20;
}

@keyframes preloader-leftside {
  0% { transform: translateX(-668px); }
  30% { transform: translateX(-268px); }
  35% { transform: translateX(-288px); }
  40% { transform: translateX(-268px); }
  45% { transform: translateX(-278px); }
  50% { transform: translateX(-268px); }
  70% { transform: translateX(-268px); }
  100% { transform: translateX(-668px); }
}

.preloader-rightside {
  animation: preloader-rightside 1s forwards;
  background-image: $preloader-right-bg;
  background: no-repeat cover center;
  display: inline-block;
  height: 600px;
  top: 0;
  transform: translateX(128px);
  width: 400px;
  z-index: 20;
}

@keyframes preloader-rightside {
  0% { transform: translateX(128px); }
  30% { transform: translateX(-272px); }
  35% { transform: translateX(-252px); }
  40% { transform: translateX(-272px); }
  45% { transform: translateX(-262px); }
  50% { transform: translateX(-272px); }
  70% { transform: translateX(-272px); }
  100% { transform: translateX(128px); }
}

.credits-main-container {
  height: 600px;
  margin: auto;
  overflow: hidden;
  width: 800px;
}

.preloader-container {
  animation: preloader-container 1s forwards;
  margin: auto;
  margin-left: -180px;
  margin-top: -607px;
  pointer-events: none;
  width: 1700px;
  z-index: 20;
}

@keyframes preloader-container {
  0% {z-index: 20;}
  99% {z-index: 20;}
  100% {z-index: -1;}
}

.landing_page_body {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
}

.main-container {
  margin: auto;
  overflow: hidden;
  width: 800px;
}

#game-frame {
  border: none;
  position: relative;
  z-index: 0;
}

.hidden {
  visibility: hidden;
  z-index: -1;
}

.undisplayed {
  display: none;
}
